/* Colors Variables*/
:root{
  --light-color: rgba(121,85,72 ,1);
  --dark-color: rgba(93,64,55 ,1);
  --vary-light-color: rgba(121,85,72 ,0.5);  
  --white-color: rgba(255,255,255 ,1);
  --border-color: rgba(121,85,72 ,0.5);
  --shadow-color: rgba(0,0,0 ,0.5);
}
/* Font Family */

@font-face {
  font-family: Andika New Basic;
  src: url(../fonts/Andika_New_Basic/AndikaNewBasic-Regular.ttf);
}